<div class="register-container">
  <div class="register-card">
    <h1>Crie a sua conta</h1>
    <h2>Preencha os dados abaixo</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome</label>
        <input id="name" type="text" [(ngModel)]="name" name="name" required />
      </div>

      <div class="form-group">
        <label for="utente">Número de Utente</label>
        <input id="utente" type="text" [(ngModel)]="utente" name="utente" required pattern="\d{9}" title="O número de utente deve ter 9 dígitos." />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required />
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required />
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmar Senha</label>
        <input id="confirmPassword" type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required />
      </div>

      <div class="form-group">
        <label for="morada">Morada</label>
        <input id="morada" type="text" [(ngModel)]="morada" name="morada" required />
      </div>

      <div class="form-group">
        <label for="bilheteIdentidade">Bilhete de Identidade</label>
        <input id="bilheteIdentidade" type="text" [(ngModel)]="bilheteIdentidade" name="bilheteIdentidade" required />
      </div>

      <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input id="dataNascimento" type="date" [(ngModel)]="dataNascimento" name="dataNascimento" required />
      </div>

      <button type="submit" class="btn">Registar</button>
    </form>

    <p class="login-link">
      Já tem uma conta? <a (click)="navigateToLogin()">Faça login aqui</a>
    </p>
  </div>
</div>
