<div class="sidebar" [class.expanded]="isExpanded">
    <button class="toggle-btn"  (click)="toggleSidebar()">
        <div class="ico" [class.expanded]="isExpanded">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="menu-alt" class="icon glyph">
                <path class="a-top" d="M21,19H3a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z"></path>
                <path d="M21,13H3a1,1,0,0,1,0-2H21a1,1,0,0,1,0,2Z"></path>
                <path class="b-bot" d="M21,7H3A1,1,0,0,1,3,5H21a1,1,0,0,1,0,2Z"></path>
            </svg>
        </div>
        <span *ngIf="isExpanded"></span>
    </button>

    <!-- Itens do Menu -->
    <ul class="menu">
        <li>
            <a>
                <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="dashboard" class="icon glyph"><rect x="2" y="2" width="9" height="11" rx="2"></rect><rect x="13" y="2" width="9" height="7" rx="2"></rect><rect x="2" y="15" width="9" height="7" rx="2"></rect><rect x="13" y="11" width="9" height="11" rx="2"></rect></svg>
                <span class="menu-text" [ngClass]="{'expanded':isExpanded}" *ngIf="isExpanded">Dashboard</span>
            </a>
        </li>
        <li [ngClass]="{selected: Selected==='Emit'}">
            <a (click)="Selected='Emit';">
                <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="file-new" class="icon glyph"><path d="M19,7.41V12H18a3,3,0,0,0-3,3,3,3,0,0,0-3,3v3H4a2,2,0,0,1-2-2V4A2,2,0,0,1,4,2h9.59A2,2,0,0,1,15,2.58L18.42,6A2,2,0,0,1,19,7.41ZM21,17H19V15a1,1,0,0,0-2,0v2H15a1,1,0,0,0,0,2h2v2a1,1,0,0,0,2,0V19h2a1,1,0,0,0,0-2Zm-2-5H18"></path></svg>
                <span class="menu-text" [ngClass]="{'expanded':isExpanded}" *ngIf="isExpanded">Emitir Baixa</span>
            </a>
        </li>
        <li>
            <a>
                <svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="file-search" class="icon glyph"><path d="M18,7.41V9.26A6.89,6.89,0,0,0,14,8a7,7,0,0,0-3.6,13H4a2,2,0,0,1-2-2V4A2,2,0,0,1,4,2h8.59A2,2,0,0,1,14,2.59L17.41,6A2,2,0,0,1,18,7.41Zm3.76,14.24a1,1,0,0,1-1.41.11l-3.3-2.83A5,5,0,1,1,19,15a4.9,4.9,0,0,1-.65,2.41l3.3,2.83A1,1,0,0,1,21.76,21.65ZM14,18a3,3,0,1,0-3-3A3,3,0,0,0,14,18Z"></path></svg>
                <span class="menu-text" [ngClass]="{'expanded':isExpanded}" *ngIf="isExpanded">Consultar Baixas</span>
            </a>
        </li>
    </ul>
</div>

<div class="main-container">
    <div class="working-area">
        <app-emitir-baixa *ngIf="Selected==='Emit'"></app-emitir-baixa>
    </div>
</div>